<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.minorproject2">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.gps" />

    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <uses-feature android:name="android.hardware.Sensor" />
    <uses-feature android:name="android.hardware.SensorManager" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/rooftop_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/rooftop_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ResultActivity"></activity>
        <activity android:name=".InputRooftopAreaActivity" />
        <activity android:name=".CamActivity" />
        <activity android:name=".SplashActivity">

        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SendImageActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".CameraActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>